<template>

    <div>
        <div v-if="signedIn">
            <div class="form-group">
                <label for="body">Body:</label>
                <textarea
                        name="body"
                        id="body"
                        class="form-control"
                        required
                        v-model="body"
                ></textarea>
            </div>
            <input
                    type="submit"
                    class="btn-success btn"
                    @click="addReply"
            >
        </div>
        <div v-else>
            <p >Please <a href="/login">sign in</a></p>
        </div>
    </div>

</template>

<script>

    export default {

        data() {

            return {

                body: '',


            }

        },

        computed: {

            signedIn() {

                return window.App.signedIn;

            }

        },

        methods: {

            addReply() {

                axios.post(location.pathname + '/replies', {

                    body: this.body

                })
                    .catch(error => {

                        flash(error.response.data, 'danger');

                    })
                    .then(({data}) => {

                    this.body = '';

                    flash('Your reply has been posted.');

                    this.$emit('created', data);

                })

            }

        }

    }

</script>