<template>
    <div :id="'reply-'+id" class="card" style="margin-top: 10px">
        <div class="card-header">
            <div class="level">
                <h5 class="flex-fill">
                    <a class=""
                       :href="'/profiles/' + attributes.owner.name"
                       v-text="attributes.owner.name"
                    ></a> said <span v-text="ago"></span>
                </h5>

                <div v-if="signedIn">
                    <favorite :reply="attributes"></favorite>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div v-if="editing">
                <div class="form-group">
                    <textarea class="form-control mb-2" v-model="body"></textarea>

                    <button class="btn btn-xs btn-primary" @click="update">Update</button>
                    <button class="btn btn-xs btn-link" @click="editing = false">Cancel</button>
                </div>

            </div>
            <div v-else v-text="body"></div>
        </div>

        <!--@can('update', $reply)-->
        <div class="card-footer" v-if="canUpdate">
            <div class="col-md-12">
                <div class="row">
                    <button class="btn btn-secondary btn-xs mr-1" @click="editing = true">Edit</button>
                    <button class="btn btn-danger btn-xs mr-1" @click="destroy">Delete</button>
                </div>
            </div>
        </div>
        <!--@endcan-->
    </div>
</template>

<script>
    import Favorite from './Favorite.vue';
    import moment from 'moment';

    export default {

        props: ['attributes'],

        components: { Favorite },

        data() {
            return {
                editing: false,
                body: this.attributes.body,
                id: this.attributes.id
            };
        },

        computed: {

            ago() {

                return moment(this.attributes.created_at).fromNow() + '...';

            },

            signedIn() {

                return window.App.signedIn;

            },

            canUpdate() {

                return this.authorize(user => this.attributes.user_id == user.id)

                // return this.attributes.user_id == window.App.user.id

            }

        },

        methods: {

            update() {
                axios.patch("/replies/" + this.attributes.id, {
                    body: this.body
                }).catch(error => {
                    flash(error.response.data, 'danger')
                });

                this.editing = false;

                flash('updated!');

            },

            destroy() {
                axios.delete("/replies/" + this.attributes.id);

                this.$emit('deleted', this.attributes.id)

                // $(this.$el).fadeOut(300, () => {
                //     flash('Your Reply has been deleted')
                // });
            }
        }
    }
</script>