<template>
    <button
            :class="classes"
            @click="subscribe"
            v-text="subs"
    ></button>
</template>

<script>
    export default {

        props : ['active'],

        computed: {

            subs() {

                return this.active ? 'Unsubscribe' : 'Subscribe';

            },

            classes() {

                return ['btn', this.active ? 'btn-success' : 'btn-info'];

            }

        },

        methods: {

            subscribe() {

                axios[this.active ? 'delete' : 'post'](location.pathname + '/subscriptions');

                this.active = ! this.active;

                flash('Subscribed');

            }

        }

    }
</script>